._wordCard {
  margin: 0px 5px 5px 0px;
}
._wordCardFrontWrap, ._wordCardBackWrap {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

._wordCardFrontWrap {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

._wordCardBackWrap {
  background: wheat;
}